Parte03/registro_facturas_grupo05.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">
  
  <xs:element name="registro">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="responsable" type="xs:string"/>
        
        <xs:element name="factura" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="num" type="format_num"/>
              
              <xs:element name="cliente">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nombre" type="format_name"/>
                    
                    <!--III.1.4-->
                    <xs:element name="documento">
                      <xs:complexType>
                        <xs:choice minOccurs="0" maxOccurs="1"> <!--Cambio de secuence a choice-->
                        
                        <!--Elementos-->
                          <xs:element name="dui">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="format_dui">
                                  <xs:attribute name="vence" type="format_vencimiento" use="required"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>

                          <xs:element name="pasaporte">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="pais" type="xs:string" use="required"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>

                        </xs:choice>
                      </xs:complexType>
                    </xs:element>


                    <xs:element name="telefono">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="format_telefono">
                            <xs:attribute name="tipo" type="xs:string" use="required"/>
                            <xs:attribute name="cia" type="format_cia" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>


                    <xs:element name="email" type="emailformat"/>
                  </xs:sequence>
                  <xs:attribute name="codigo" type="format_cod" use="required"/>
                  <xs:attribute name="sexo" type="format_gen" use="required"/>
                </xs:complexType>
              </xs:element>

              <!--III.1.4-->
              <xs:element name="direccion" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:choice minOccurs="0" maxOccurs="1"> <!--Cambio de secuence a choice-->
                    <xs:element name="casa" type="format_lugar"/>
                    <xs:element name="oficina" type="format_lugar"/>
                  </xs:choice>
                  <xs:attribute name="depto" type="format_depart" use="required"/>
                  <xs:attribute name="municipio" type="format_municipio" use="required"/>
                </xs:complexType>
              </xs:element>


              <xs:element name="lineafactura">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="codigo">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:unsignedShort">
                            <xs:attribute name="tipo" type="xs:string" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="detalle" type="format_detalle"/>
                    <xs:element name="cantidad" type="xs:double"/>
                    <xs:element name="precio">
                      <xs:complexType>
                        <xs:sequence>
                          <!--<xs:element name="moneda" type="xs:string"/>
                          <xs:element name="valor" type="format_precio"/> -->
                          <xs:group ref="grupo_ingresos"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="subtotal">
                      <xs:complexType>
                        <xs:sequence>
                        <!-- <xs:element name="moneda" type="xs:string"/>
                          <xs:element name="valor" type="format_precio"/>--> 
                          <xs:group ref="grupo_ingresos"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="factura" type="xs:unsignedShort" use="required"/>
                </xs:complexType>
              </xs:element>

              <xs:element name="total">
                <xs:complexType>
                  <xs:sequence>
                     <!--<xs:element name="moneda" type="xs:string"/>
                    <xs:element name="valor" type="format_precio"/> -->
                    <xs:group ref="grupo_ingresos"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="tipo" type="format_factura" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="periodo" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  
<!-- Reutilizacion de elementos -->

<!--He definido UNA SOLA estructura para que podamos modificarlo de acuerdo a reutilización y
evitar la escritura masiva de codigo y hacer buenas practicas de programación-->

<!--Cada vez que lo utilice debo de indicarlo-->

<!--III.1.1-Debe de usar dos enumeraciones de entre 3 y 5 o más elementos cada una-->
<!--III.1.2-Debe usar tres patrones o expresiones regulares OK!-->
<!--III.1.3-Debe usar dos definiciones de tipos simples  OK! --> 
<!--III.1.4-Debe usar dos definiciones de tipo complejo OK! -->
<!--III.1.5-Debe de usar un grupo OK!-->
<!--III.1.6-Debe usar tipos simples fecha, entero, decimal OK!-->
<!--III.1.7-Debe usar restricciones de longitud OK!-->
<!--III.1.8-Debe usar restricciones de total de dígitos y dígitos de fracción OK!-->
<!--III.1.9-Debe  usar una referencia-->

<!--III.1.3-->
<xs:simpleType name="emailformat">
<xs:restriction base="xs:string">
<!--Utilizacion de una Expresion regular III.1.2-->
  <xs:pattern value="[a-z0-9A-Z]{5,12}@[a-z0-9A-Z]{3,10}[\.][a-zA-Z]{3,4}"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="format_precio">
<xs:restriction base="xs:decimal">
  <xs:minInclusive value="0.01"/>
  <xs:maxInclusive value="9999.99"/>
  <xs:totalDigits value="6"/>
  <xs:fractionDigits value="2"/>
</xs:restriction>
</xs:simpleType>

<!--Definicion telefono-->

<xs:simpleType name="format_telefono">
  <xs:restriction base="xs:integer">
<!--Utilizacion de una Expresion regular III.1.2-->
  <xs:pattern value="[0-9]{8}"/>
  </xs:restriction>
</xs:simpleType>

<!--Para atributo-->
<xs:simpleType name="format_cia">
  <xs:restriction base="xs:string">
  <xs:pattern value="tigo|digicel|claro"/>
  </xs:restriction>
</xs:simpleType>

<!--Definicion nombre, detalle, y direccion-->
<!--III.1.7 Utilización de reestricciones de longitud-->

<xs:simpleType name="format_name">
  <xs:restriction base="xs:string">
    <xs:minLength value="10"/>
    <xs:maxLength value="25"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="format_lugar">
  <xs:restriction base="xs:string">
    <xs:minLength value="7"/>
    <xs:maxLength value="30"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="format_detalle">
  <xs:restriction base="xs:string">
    <xs:minLength value="10"/>
    <xs:maxLength value="50"/>
  </xs:restriction>
</xs:simpleType>

<!--Definicion de grupo III.1.5-->

<xs:group name="grupo_ingresos">
  <xs:sequence>
     <xs:element name="moneda" type="xs:string"/>
     <xs:element name="valor" type="format_precio"/>
  </xs:sequence>
</xs:group>

<!--Dui y pasaporte-->

<!--Dui-->
<xs:simpleType name="format_dui">
  <xs:restriction base="xs:string">
<!--Utilizacion de una Expresion regular III.1.2-->
    <xs:pattern value="[0-9]{8}[\-][0-9]{1}"/>
  </xs:restriction>
</xs:simpleType>

<!--Fecha de vencimiento-->
<xs:simpleType name="format_vencimiento">
  <xs:restriction base="xs:date">
<!--Utilizacion de una Expresion regular III.1.2-->
  <xs:pattern value="[2][0]([0-2][0-1]|[0-1][0-9])[\-]((([0][1]|[0][3]|[0][5]|[0][7]|[0][8]|[1][0]|[1][2])[\-]([0][1-9]|[1-2][0-9]|[3][0-1]))|(([0][4]|[0][6]|[0][9]|[0][7]|[1][1])[\-]([0][1-9]|[1-2][0-9]|[3][0]))|(([0][2])[\-]([0][1-9]|[1-2][0-8])))"/>
  </xs:restriction>
</xs:simpleType>

<!--Pasaporte-->
<xs:simpleType name="format_pasaport">
  <xs:restriction base="xs:string">
<!--Utilizacion de una Expresion regular III.1.2-->
    <xs:pattern value="[A-Z]{1}[0-9]{8}"/>
  </xs:restriction>
</xs:simpleType>

<!--Fecha de vencimiento-->
<xs:simpleType name="format_pais">
  <xs:restriction base="xs:string">
<!--Utilizacion de una Expresion regular III.1.2-->
  <xs:pattern value="[A-Z]{3}"/>
  </xs:restriction>
</xs:simpleType>

<!--Num-->
<xs:simpleType name="format_num">
  <xs:restriction base="xs:unsignedShort">
<!--Utilizacion de una Expresion regular III.1.2-->
    <xs:pattern value="[0-9]{3}"/>
  </xs:restriction>
</xs:simpleType>

<!--Direccion atributos-->
<xs:simpleType name="format_depart">
  <xs:restriction base="xs:string">
    <xs:maxLength value="12"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="format_municipio">
  <xs:restriction base="xs:string">
    <xs:maxLength value="30"/>
  </xs:restriction>
</xs:simpleType>

<!--Cliente-->

<!--Validacion sexo-->
<xs:simpleType name="format_gen">
  <xs:restriction base="xs:string">
  <xs:pattern value="femenino|masculino"/>
  </xs:restriction>
</xs:simpleType>

<!--Validacion codigo-->
<xs:simpleType name="format_cod">
  <xs:restriction base="xs:unsignedShort">
  <xs:pattern value="[0-9]{3,4}"/>
  </xs:restriction>
</xs:simpleType>

<!--Factura-->
<xs:simpleType name="format_factura">
  <xs:restriction base="xs:string">
  <xs:pattern value="final|credito"/>
  </xs:restriction>
</xs:simpleType>



</xs:schema>
