Parte03/registrofacturasgrupo05.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--registrofacturasgrupo05.xsd grupo 05-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">
  
  <xs:element name="registro">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="responsable" type="format_resp"/>
        
        <xs:element name="factura" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="num" type="format_num"/>
              
              <xs:element name="cliente">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nombre" type="format_name"/>
                    
                    <!--III.1.4-->
                    <xs:element name="documento">
                      <xs:complexType>
                        <xs:choice minOccurs="0" maxOccurs="1"> <!--Cambio de secuence a choice-->
                        
                        <!--Elementos-->
                          <xs:element name="dui">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="format_dui">
                                  <xs:attribute name="vence" type="format_vencimiento" use="required"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>

                          <xs:element name="pasaporte">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="format_pasaport">
                                  <xs:attribute name="pais" type="format_pais" use="required"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>

                        </xs:choice>
                      </xs:complexType>
                    </xs:element>


                    <xs:element name="telefono">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="format_telefono">
                            <xs:attribute name="tipo" type="format_tipotelefono" use="required"/>
                            <xs:attribute name="cia" type="format_cia" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>


                    <xs:element name="email" type="emailformat"/>
                  </xs:sequence>
                  <xs:attribute name="codigo" type="format_cod" use="required"/>
                  <xs:attribute name="sexo" type="format_gen" use="required"/>
                </xs:complexType>
              </xs:element>

              <!--III.1.4-->
              <xs:element name="direccion" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:choice minOccurs="0" maxOccurs="1"> <!--Cambio de secuence a choice-->
                    <xs:element name="casa" type="format_lugar"/>
                    <xs:element name="oficina" type="format_lugar"/>
                  </xs:choice>
                  <xs:attribute name="depto" type="format_depart" use="required"/>
                  <xs:attribute name="municipio" type="format_municipio" use="required"/>
                </xs:complexType>
              </xs:element>


              <xs:element name="lineafactura">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="codigo">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="codefacture">
                            <xs:attribute name="tipo" type="format_codLinfacture" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="detalle" type="format_detalle"/>
                    <xs:element name="cantidad" type="format_cantidad"/>
                    <xs:element name="precio">
                      <xs:complexType>
                        <xs:sequence>
                          <!--III.1.9 Uso de referencia-->
                          <xs:group ref="grupo_ingresos"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="subtotal">
                      <xs:complexType>
                        <xs:sequence>
                        <!--III.1.9 Uso de referencia-->
                          <xs:group ref="grupo_ingresos"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="factura" type="codelineafacture" use="required"/>
                </xs:complexType>
              </xs:element>

              <xs:element name="total">
                <xs:complexType>
                  <xs:sequence>
                  <!--III.1.9 Uso de referencia-->
                    <xs:group ref="grupo_ingresos"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="tipo" type="format_factura" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="periodo" type="format_periodo" use="required"/>
    </xs:complexType>
  </xs:element>
  
<!-- Reutilizacion de elementos -->

<!--He definido una sola estructura para que podamos modificarlo de acuerdo a reutilización y
evitar la escritura masiva de codigo y hacer buenas practicas de programación -->

<!--III.1.1-->
<!--Para atributo-->
<xs:simpleType name="format_cia">
  <xs:restriction base="xs:string">
    <xs:enumeration value="tigo"/>
    <xs:enumeration value="digicel"/>
    <xs:enumeration value="claro"/>
    <xs:enumeration value="movistar"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="format_tipotelefono">
  <xs:restriction base="xs:string">
    <xs:enumeration value="celular"/>
    <xs:enumeration value="fijo"/>
    <xs:enumeration value="fax"/>
  </xs:restriction>
</xs:simpleType>

<!--III.1.1-->
<!--Codigo de linea factura, Su atributo-->
<xs:simpleType name="format_codLinfacture">
  <xs:restriction base="xs:string">
    <xs:enumeration value="souvenir"/>
    <xs:enumeration value="pcportatiles"/>
    <xs:enumeration value="accesorio_pc"/>
    <xs:enumeration value="perecedero"/>
  </xs:restriction>
</xs:simpleType>

<!--III.1.3-->
<xs:simpleType name="emailformat">
<xs:restriction base="xs:string">
<!--Utilizacion de una Expresion regular III.1.2-->
  <xs:pattern value="[a-z0-9A-Z]{5,12}@[a-z0-9A-Z]{3,10}[\.][a-zA-Z]{3,4}"/>
</xs:restriction>
</xs:simpleType>

<!--Definicion de grupo III.1.5-->
<xs:group name="grupo_ingresos">
  <xs:sequence>
     <xs:element name="moneda" type="format_coin"/>
     <xs:element name="valor" type="format_precio"/>
  </xs:sequence>
</xs:group>

<!--III.1.6-->

<!--Validacion cantidad-->
<xs:simpleType name="format_cantidad">
  <xs:restriction base="xs:double">
    <xs:minInclusive value="1"/>
  </xs:restriction>
</xs:simpleType>

<!--Fecha de vencimiento-->
<xs:simpleType name="format_vencimiento">
  <xs:restriction base="xs:date">
<!--Utilizacion de una Expresion regular III.1.2-->
  <xs:pattern value="[2][0]([0-2][0-1]|[0-1][0-9])[\-]((([0][1]|[0][3]|[0][5]|[0][7]|[0][8]|[1][0]|[1][2])[\-]([0][1-9]|[1-2][0-9]|[3][0-1]))|(([0][4]|[0][6]|[0][9]|[0][7]|[1][1])[\-]([0][1-9]|[1-2][0-9]|[3][0]))|(([0][2])[\-]([0][1-9]|[1-2][0-8])))"/>
  </xs:restriction>
</xs:simpleType>

<!--Definicion telefono-->
<xs:simpleType name="format_telefono">
  <xs:restriction base="xs:integer">
<!--Utilizacion de una Expresion regular III.1.2-->
  <xs:pattern value="[0-9]{8}"/>
  </xs:restriction>
</xs:simpleType>

<!--Definicion nombre, detalle, y direccion-->
<!--III.1.7 Utilización de reestricciones de longitud-->
<xs:simpleType name="format_name">
  <xs:restriction base="xs:string">
    <xs:minLength value="10"/>
    <xs:maxLength value="25"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="format_lugar">
  <xs:restriction base="xs:string">
    <xs:minLength value="7"/>
    <xs:maxLength value="40"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="format_detalle">
  <xs:restriction base="xs:string">
    <xs:minLength value="10"/>
    <xs:maxLength value="50"/>
  </xs:restriction>
</xs:simpleType>

<!--III.1.8-->
<xs:simpleType name="format_precio">
<xs:restriction base="xs:decimal">
  <xs:minInclusive value="0.01"/>
  <xs:maxInclusive value="9999.99"/>
  <xs:totalDigits value="6"/>
  <xs:fractionDigits value="2"/>
</xs:restriction>
</xs:simpleType>

<!--Otras validaciones del XML [Utilizando requerimientos solicitados] -->

<!--Validar codigo de linea de factura-->
<xs:simpleType name="codefacture">
  <xs:restriction base="xs:string">
<!--Utilizacion de una Expresion regular III.1.2-->
    <xs:pattern value="[0-9]{3}"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="codelineafacture">
  <xs:restriction base="xs:string">
<!--Utilizacion de una Expresion regular III.1.2-->
    <xs:pattern value="[0-9]{3}"/>
  </xs:restriction>
</xs:simpleType>

<!--Dui-->
<xs:simpleType name="format_dui">
  <xs:restriction base="xs:string">
<!--Utilizacion de una Expresion regular III.1.2-->
    <xs:pattern value="[0-9]{8}[\-][0-9]{1}"/>
  </xs:restriction>
</xs:simpleType>

<!--Pasaporte-->
<xs:simpleType name="format_pasaport">
  <xs:restriction base="xs:string">
<!--Utilizacion de una Expresion regular III.1.2-->
    <xs:pattern value="[A-Z]{1}[0-9]{8}"/>
  </xs:restriction>
</xs:simpleType>

<!--Pais pasaporte-->
<xs:simpleType name="format_pais">
  <xs:restriction base="xs:string">
<!--Utilizacion de una Expresion regular III.1.2-->
  <xs:pattern value="[A-Z]{3}"/>
  </xs:restriction>
</xs:simpleType>

<!--Num-->
<xs:simpleType name="format_num">
  <xs:restriction base="xs:unsignedShort">
<!--Utilizacion de una Expresion regular III.1.2-->
    <xs:pattern value="[0-9]{3}"/>
  </xs:restriction>
</xs:simpleType>

<!--Direccion atributos-->
<xs:simpleType name="format_depart">
  <xs:restriction base="xs:string">
    <xs:maxLength value="12"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="format_municipio">
  <xs:restriction base="xs:string">
    <xs:maxLength value="30"/>
  </xs:restriction>
</xs:simpleType>

<!--Cliente-->
<!--Validacion sexo-->
<xs:simpleType name="format_gen">
  <xs:restriction base="xs:string">
  <xs:pattern value="femenino|masculino"/>
  </xs:restriction>
</xs:simpleType>

<!--Validacion codigo-->
<xs:simpleType name="format_cod">
  <xs:restriction base="xs:unsignedShort">
  <xs:pattern value="[0-9]{3,4}"/>
  </xs:restriction>
</xs:simpleType>

<!--Factura-->
<xs:simpleType name="format_factura">
  <xs:restriction base="xs:string">
  <xs:pattern value="final|credito"/>
  </xs:restriction>
</xs:simpleType>

<!--Validacion moneda-->
<xs:simpleType name="format_coin">
  <xs:restriction base="xs:string">
    <xs:pattern value="[$]"/>
  </xs:restriction>
</xs:simpleType>

<!--Validacion responsable-->
<xs:simpleType name="format_resp">
  <xs:restriction base="xs:string">
    <xs:pattern value="([Lic]|[Ing]|[Msc]|[Inga])+([\.][ ][a-zA-Záéíóú]+[ ]+[a-zA-Záéíóú]+)"/>
  </xs:restriction>
</xs:simpleType>

<!--Periodo-->
<xs:simpleType name="format_periodo">
  <xs:restriction base="xs:gYearMonth">
    <xs:pattern value="[2][0]([0-2][0-1]|[0-1][0-9])[\-]([0][1-9]|[1][0-2])"/>
  </xs:restriction>
</xs:simpleType>

</xs:schema>
